# Excel temporary files
~$*.xlsx
~$*.xls
*.tmp

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Editor files
.vscode/
.idea/
*.swp
*.swo

#Dir
Advanced-Formulas
Financial-Modeling
Inventory-Dashboard
Power-Query-ETL
Sales-Analysis

# Windows
Thumbs.db
Desktop.ini